# 1. Project Title
# Fake News Detection Using Machine Learning

In [39]:
import pandas as pd
import re

df = pd.read_csv(r"C:\\Users\\Karachi Laptop\\Downloads\\fake_news_dataset.csv", encoding='latin1')
df.shape

(4000, 24)

# Remove the useless feature

In [40]:
cols_to_remove = ['id', 'author', 'date_published', 'char_count', 'source']
existing = [c for c in cols_to_remove if c in df.columns]

# Drop only the existing ones
df = df.drop(existing, axis=1)
print("Dropped columns:", existing)
print("New shape:", df.shape)

Dropped columns: ['id', 'author', 'date_published', 'char_count', 'source']
New shape: (4000, 19)

# pandas profiling

In [41]:
import pandas as pd
from ydata_profiling import ProfileReport

# Load dataset
df = pd.read_csv(r"C:\\Users\\Karachi Laptop\\Downloads\\fake_news_dataset.csv", encoding='latin1')

# Drop unnecessary columns
cols_to_remove = ['id', 'author', 'date_published', 'char_count', 'source']
existing = [c for c in cols_to_remove if c in df.columns]
df = df.drop(existing, axis=1)
print("Dropped columns:", existing)
print("New shape:", df.shape)

# Create Pandas Profiling report from the cleaned df
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

# Save report to HTML
profile.to_file("report.html")

Dropped columns: ['id', 'author', 'date_published', 'char_count', 'source']
New shape: (4000, 19)

Summarize dataset:   0%|                                                      | 0/24 [00:00<?, ?it/s, Describe variable: has_videos]
Summarize dataset:  67%|█████████████████████████████████▎                | 16/24 [00:01<00:00, 14.14it/s, Describe variable: label]
Summarize dataset:  75%|█████████████████████████████████████▌            | 18/24 [00:01<00:00, 13.12it/s, Describe variable: label]
100%|███████████████████████████████████████████████████████████████████████████████████████████████| 19/19 [00:01<00:00, 16.06it/s]
Summarize dataset: 100%|███████████████████████████████████████████████████████████████| 109/109 [00:32<00:00,  3.38it/s, Completed]
Generate report structure: 100%|██████████████████████████████████████████████████████████████████████| 1/1 [00:14<00:00, 14.20s/it]
Render HTML: 100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.16s/it]
Export report to file: 100%|██████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 18.57it/s]

# Asking basic question

In [42]:
df.shape

(4000, 19)

In [43]:
df.info

<bound method DataFrame.info of                    title                                               text  \
0        Breaking News 1  This is the content of article 1. It contains ...
1        Breaking News 2  This is the content of article 2. It contains ...
2        Breaking News 3  This is the content of article 3. It contains ...
3        Breaking News 4  This is the content of article 4. It contains ...
4        Breaking News 5  This is the content of article 5. It contains ...
...                  ...                                                ...
3995  Breaking News 3996  This is the content of article 3996. It contai...
3996  Breaking News 3997  This is the content of article 3997. It contai...
3997  Breaking News 3998  This is the content of article 3998. It contai...
3998  Breaking News 3999  This is the content of article 3999. It contai...
3999  Breaking News 4000  This is the content of article 4000. It contai...

               state       category  sentiment_score  word_count  has_images  \
0          Tennessee  Entertainment            -0.22        1302           0
1          Wisconsin     Technology             0.92         322           1
2           Missouri         Sports             0.25         228           0
3     North Carolina         Sports             0.94         155           1
4         California     Technology            -0.01         962           1
...              ...            ...              ...         ...         ...
3995            Ohio     Technology             0.91        1227           1
3996      Washington         Sports            -0.57        1296           0
3997      California  Entertainment            -0.17         522           0
3998        Illinois         Health            -0.88         169           1
3999           Texas         Health            -0.95         465           0

      has_videos  readability_score  num_shares  num_comments political_bias  \
0              0              66.18       47305           450         Center
1              0              41.10       39804           530           Left
2              1              30.04       45860           763         Center
3              0              75.16       34222           945         Center
4              0              43.90       35934           433          Right
...          ...                ...         ...           ...            ...
3995           1              67.32       38880           697          Right
3996           1              34.86        3650           925           Left
3997           1              48.29       35391           577           Left
3998           0              63.18       40424           201           Left
3999           0              71.24       48913           279          Right

     fact_check_rating  is_satirical  trust_score  source_reputation  \
0                FALSE             1           76                  6
1                Mixed             1            1                  5
2                Mixed             0           57                  1
3                 TRUE             1           18                 10
4                Mixed             0           95                  6
...                ...           ...          ...                ...
3995             Mixed             0           29                 10
3996             FALSE             1           53                  3
3997             FALSE             0           22                  9
3998             FALSE             1            3                  6
3999              TRUE             1           73                  4

      clickbait_score  plagiarism_score label
0                0.84             53.35  Fake
1                0.85             28.28  Fake
2                0.72              0.38  Fake
3                0.92             32.20  Fake
4                0.66             77.70  Real
...               ...               ...   ...
3995             0.22             95.46  Fake
3996             0.42             16.54  Fake
3997             0.50             28.51  Fake
3998             0.17             71.16  Real
3999             0.09             27.65  Real

[4000 rows x 19 columns]>

In [44]:
df.sample(5)

,title,text,state,category,sentiment_score,word_count,has_images,has_videos,readability_score,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
2533,Breaking News 2534,This is the content of article 2534. It contai...,California,Business,-0.06,1203,1,1,52.02,5057,763,Left,Mixed,1,72,6,0.67,7.04,Real
2872,Breaking News 2873,This is the content of article 2873. It contai...,Texas,Entertainment,-0.66,788,0,0,33.02,39754,507,Left,Mixed,1,68,9,1.00,62.39,Fake
22,Breaking News 23,This is the content of article 23. It contains...,New York,Health,0.06,600,0,0,45.86,24413,73,Left,TRUE,0,94,10,0.74,17.56,Real
3446,Breaking News 3447,This is the content of article 3447. It contai...,Washington,Sports,0.55,987,1,1,64.74,21289,855,Center,Mixed,1,24,3,0.55,84.80,Real
1882,Breaking News 1883,This is the content of article 1883. It contai...,Indiana,Health,0.59,610,0,0,64.52,42289,636,Center,Mixed,1,86,2,0.64,18.87,Fake

In [45]:
df.dtypes

title                 object
text                  object
state                 object
category              object
sentiment_score      float64
word_count             int64
has_images             int64
has_videos             int64
readability_score    float64
num_shares             int64
num_comments           int64
political_bias        object
fact_check_rating     object
is_satirical           int64
trust_score            int64
source_reputation      int64
clickbait_score      float64
plagiarism_score     float64
label                 object
dtype: object

In [46]:
df.describe()

,sentiment_score,word_count,has_images,has_videos,readability_score,num_shares,num_comments,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score
count,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000
mean,-0.000645,795.655750,0.49650,0.484500,54.764595,25144.596750,489.870250,0.497000,49.960750,5.54925,0.494447,50.598110
std,0.574768,406.373871,0.50005,0.499822,14.404027,14387.537467,287.435733,0.500054,29.467911,2.87422,0.289138,28.932298
min,-1.000000,100.000000,0.00000,0.000000,30.020000,39.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.040000
25%,-0.490000,445.750000,0.00000,0.000000,42.480000,12781.750000,238.000000,0.000000,24.000000,3.00000,0.240000,25.915000
50%,-0.010000,793.000000,0.00000,0.000000,54.235000,25308.500000,483.000000,0.000000,50.000000,6.00000,0.490000,51.480000
75%,0.510000,1150.000000,1.00000,1.000000,67.215000,37453.500000,741.000000,1.000000,76.000000,8.00000,0.740000,75.580000
max,1.000000,1500.000000,1.00000,1.000000,79.980000,50000.000000,1000.000000,1.000000,100.000000,10.00000,1.000000,99.950000

In [47]:
df.duplicated().sum()

np.int64(0)

In [48]:
df.isnull().sum()

title                0
text                 0
state                0
category             0
sentiment_score      0
word_count           0
has_images           0
has_videos           0
readability_score    0
num_shares           0
num_comments         0
political_bias       0
fact_check_rating    0
is_satirical         0
trust_score          0
source_reputation    0
clickbait_score      0
plagiarism_score     0
label                0
dtype: int64

# EDA univariate anlysis

# catogorical data

# counplot

In [49]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(['political_bias'])

# b.pie chart

In [50]:
df['label'].value_counts().plot(kind='pie',autopct='%.2f')

In [51]:
df['trust_score']

0       76
1        1
2       57
3       18
4       95
        ..
3995    29
3996    53
3997    22
3998     3
3999    73
Name: trust_score, Length: 4000, dtype: int64

# Numerical data

# histogram

In [52]:
import matplotlib.pyplot as plt
plt.hist(df['sentiment_score'])

(array([392., 386., 411., 435., 381., 397., 413., 387., 405., 393.]),
 array([-1. , -0.8, -0.6, -0.4, -0.2,  0. ,  0.2,  0.4,  0.6,  0.8,  1. ]),
 <BarContainer object of 10 artists>)

# Distplot

In [53]:
sns.distplot(df['readability_score'])

C:\Users\Karachi Laptop\AppData\Local\Temp\ipykernel_6364\749550549.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(df['readability_score'])

# boxplot

In [54]:
sns.boxplot(df['trust_score'])

D:\anconda\envs\fakenews_detection\lib\site-packages\seaborn\categorical.py:379: UserWarning: Attempting to set identical low and high xlims makes transformation singular; automatically expanding.
  ax.set_xlim(-.5, n - .5, auto=None)

# bivariate analysis

# A.scatterplot(numerical-numerical)

In [55]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.scatterplot(x=df['word_count'], y=df['char_count'])
plt.title("Word Count vs Character Count")
plt.xlabel("Word Count")
plt.ylabel("Character Count")
plt.show()

KeyError: 'char_count'

# b.BARplot

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.barplot(x='num_comments', y='has_videos', data=df)
plt.title("Number of Comments vs Has Videos")
plt.show()

# 

Data preprocessing

# Remove duplicat

In [ ]:
# Remove duplicates
df = df.drop_duplicates()

# Remove rows with null values in 'text' column
df = df.dropna(subset=['text'])

# text cleaning

In [ ]:
def clean_text(text):
    # Lowercase
    text = text.lower()
    
    # Remove punctuation and special characters
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df['clean_text'] = df['text'].apply(clean_text)

In [ ]:
!pip install nltk

# Text Preprocessing Function

In [ ]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df['clean_text'] = df['text'].apply(clean_text)

# Tokenization (split text into words)

In [ ]:
import nltk

# Download all nltk datasets (this may take time)
nltk.download('all')

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

# Download punkt tokenizer (required for word_tokenize)
nltk.download('punkt')

# Tokenize the text column
df['tokens'] = df['clean_text'].apply(word_tokenize)

# Remove Stopwords

In [ ]:
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

df['tokens'] = df['tokens'].apply(lambda x: [word for word in x if word not in stop_words])

# Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

df['lemmatized'] = df['tokens'].apply(lambda words: [lemmatizer.lemmatize(word) for word in words])

# Join Tokens Back Into Text

In [ ]:
df['final_text'] = df['lemmatized'].apply(lambda x: ' '.join(x))

# 12. Convert Text to Numerical Features
# Option 1: TF-IDF Vectorization

In [ ]:
# 1. Import the TF-IDF class
from sklearn.feature_extraction.text import TfidfVectorizer

# 2. Make sure your text column contains strings
# If you have tokens, join them first
df['final_text'] = df['tokens'].apply(lambda x: ' '.join(x))

# 3. Initialize the vectorizer
tfidf = TfidfVectorizer(max_features=5000)

# 4. Fit and transform your text data
X = tfidf.fit_transform(df['final_text']).toarray()

# 5. Check the result
print(X.shape)

# Option 2: CountVectorizer

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer  # Import the class

cv = CountVectorizer(max_features=5000)                       # Initialize
X = cv.fit_transform(df['final_text']).toarray()             # Fit and transform

print(X.shape)  # Optional: check the resulting feature array

# Train-Test Split

In [ ]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Assuming X and y are already defined
y = df['label']

# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Optional: check the shapes
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# Feature Engineering

# stardaedization

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Use only columns that really exist in your dataset
numeric_features = [col for col in [
    'word_count',
    'char_count',
    'sentiment_score',
    'readability_score',
    'trust_score',
    'source_reputation',
    'clickbait_score'
] if col in df.columns]

print("Using these numeric features:", numeric_features)

X = df.drop('label', axis=1)
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

scaler = StandardScaler()

# Fit only existing numeric features
X_train[numeric_features] = scaler.fit_transform(X_train[numeric_features])

# Transform test data
X_test[numeric_features] = scaler.transform(X_test[numeric_features])

# Model Training (Logistic Regression)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

# ----------------------------
# 1. REMOVE TEXT COLUMNS
# ----------------------------
# Detect numeric columns only
numeric_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Remove label from numeric list
numeric_features = [col for col in numeric_features if col != 'label']

print("Using only these numeric features:", numeric_features)

X = df[numeric_features]     # only numeric data
y = df['label']

# ----------------------------
# 2. TRAIN-TEST SPLIT
# ----------------------------
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# ----------------------------
# 3. STANDARDIZATION
# ----------------------------
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# ----------------------------
# 4. LOGISTIC REGRESSION MODEL
# ----------------------------
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Model trained successfully!")

# Predictions

In [ ]:
y_pred = model.predict(X_test)

# Model Evaluation

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

In [44]:
df['label'].value_counts()

label
Fake    2026
Real    1974
Name: count, dtype: int64

# Predict on New Text